# --
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<div class="MainBox ARIARoleMain FormScreen NoSidebar FormScreen">

    <h1>[% Translate("Add FAQ Article") | html %]</h1>

    <div class="ContentColumn">
[% RenderBlockStart("FAQAdd") %]

        <div class="Content card">

            <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" class="Validate PreventMultipleSubmits">
                <input type="hidden" name="Action" value="[% Env("Action") %]"/>
                <input type="hidden" name="Subaction" value="Save"/>
                <input type="hidden" name="FormID" value="[% Data.FormID | html %]"/>

                <fieldset class="TableLike no-card-item">
                    <div class="field-wrapper">
                        <label class="Mandatory" for="Title"><span class="Marker">* </span>[% Translate("Title") | html %]:</label>
                        <div class="Field">
                            <input type="text" name="Title" id="Title" value="[% Data.Title | html %]" class="W50pc Validate_Required [% Data.TitleServerError | html %]" maxlength="200"/>
                            <div id="TitleError" class="TooltipErrorMessage">
                                <p>[% Translate("This field is required.") | html %]</p>
                            </div>
                            <div id="TitleServerError" class="TooltipErrorMessage">
                                <p>[% Translate("This field is required.") | html %]</p>
                            </div>
                        </div>
                    </div>

                    <div class="field-wrapper">
                        <label for="Keywords">[% Translate("Keywords") | html %]:</label>
                        <div class="Field">
                            <input type="text" name="Keywords" id="Keywords" value="[% Data.Keywords | html %]" class="W50pc" maxlength="200"/>
                        </div>
                    </div>

                    <div class="field-wrapper">
                        <label class="Mandatory" for="CategoryID"><span class="Marker">* </span>[% Translate("Category") | html %]:</label>
                        <div class="Field">
                            [% Data.CategoryOption %]
                            <div id="CategoryIDError" class="TooltipErrorMessage">
                                <p>[% Translate("A category is required.") | html %]</p>
                            </div>
                            <div id="CategoryIDServerError" class="TooltipErrorMessage">
                                <p>[% Translate("A category is required.") | html %]</p>
                            </div>
                        </div>
                    </div>

                    <div class="field-wrapper">
                        <label for="StateID">[% Translate("State") | html %]:</label>
                        <div class="Field">
                            [% Data.StateOption %]
                        </div>
                    </div>

                    <div class="field-wrapper">
                        <label for="ValidID">[% Translate("Validity") | html %]:</label>
                        <div class="Field">
                            [% Data.ValidOption %]
                        </div>
                    </div>

[% RenderBlockStart("Language") %]
                        <div class="field-wrapper">
                            <label for="LanguageID">[% Translate("Language") | html %]:</label>
                            <div class="Field">
                                [% Data.LanguageOption %]
                            </div>
                        </div>
[% RenderBlockEnd("Language") %]

[% RenderBlockStart("NoLanguage") %]
                        <div class="field-wrapper">
                            <input type="hidden" name="LanguageID" value="[% Data.LanguageID | html %]"/>
                        </div>
[% RenderBlockEnd("NoLanguage") %]

[% RenderBlockStart("Approval") %]
                        <div class="field-wrapper">
                            <label for="Approved">[% Translate("Approval") | html %]:</label>
                            <div class="Field">
                                [% Data.ApprovalOption %]
                            </div>
                        </div>
[% RenderBlockEnd("Approval") %]

[% RenderBlockStart("DynamicField") %]
                        <div class="field-wrapper">
                            [% Data.Label %]
                            <div class="Field">
                                [% Data.Field %]
                            </div>
                        </div>
[% RenderBlockEnd("DynamicField") %]

# example of how to use fixed dynamic field blocks for customizations
# Note: Field1 and Field2 are the names of the fields and had to be replaced with the actual
# field names
#[% RenderBlockStart("DynamicField_Field1") %]
#                <div class="Row Row_DynamicField_[% Data.Name | html %]">
#                    [% Data.Label %]
#                    <div class="Field">
#                        [% Data.Field %]
#                    </div>
#
#                </div>
#[% RenderBlockEnd("DynamicField_Field1") %]
#[% RenderBlockStart("DynamicField_Field2") %]
#                <div class="Row Row_DynamicField_[% Data.Name | html %]">
#                    [% Data.Label %]
#                    <div class="Field">
#                        [% Data.Field %]
#                    </div>
#
#                </div>
#[% RenderBlockEnd("DynamicField_Field2") %]
                    <div class="field-wrapper">
                        <label>[% Translate("Attachment") | html %]:</label>
                        <div class="Field component-attachment">
                            [% INCLUDE "FormElements/AttachmentList.tt" %]
                        </div>
                    </div>

[% RenderBlockStart("FAQContent") %]
                        <div class="field-wrapper">
                            <label for="[% Data.Field | html %]">
                                [% Translate(Data.Caption) | html %]
                                <span class="FAQStateName">([% Translate(Data.StateName) | html %])</span>
                            </label>
                            <div class="RichTextField">
                                <textarea id="[% Data.Field | html %]" class="RichText" name="[% Data.Field | html %]" rows="15" cols="70">[% Data.Content | html %]</textarea>
                            </div>
                        </div>
[% RenderBlockEnd("FAQContent") %]

                    <div class="field-wrapper form-button-actions">
                        <div class="Field buttons-field">
                            <a href="[% Env("Baselink") %]Action=AgentFAQExplorer;CategoryID=[% Data.CategoryID | uri %]" class="btn-cancel-ghost btn-main btn-width-md">[% Translate("Cancel") | html %]</a>


                            <button class="btn-primary btn-main btn-width-md" id="FAQSubmit" type="button" value="[% Translate("Create") | html %]">
                                <span>
                                    [% Translate("Create") | html %]
                                </span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
[% RenderBlockEnd("FAQAdd") %]
    </div>
</div>
